@import url('https://fonts.googleapis.com/css?family=Ubuntu');
/*
.fleft {
  float: left;
}

.fright {
  float: right;
}

.fleft{
  float: left;
}
*/

.withImg{
  position: absolute;
  margin-left: 20%;
}

img:nth-of-type(1){
    float: right;
    position: absolute;
    height : 218%;
    width : 100%;
}
body{
  margin: 0;
  font-family: 'Ubuntu';

}

h1 {
  font-size: 3em;
  max-width: 75vw;
  color: #e0e0eb;
  margin-top: 28%;
  margin-left: 20%;
  position:relative;
  float: left;
}

span{
  width:100%;
  background: pink;
  display:block;
  height: 3px;
  position: relative;
  margin-top: 20px;
}

#img1{
  position:absolute;
  margin-top:3%;
  margin-right: 9%;
}

h2 {
  font-size: 3em;
  max-width: 75vw;
  color: #e0e0eb;
  margin-left: 20%;
  position:relative;
}

.selection{
  margin-top: 100%;
  color: pink;

}

section:nth-child(odd){}
