h1 {
  color: #e0e0eb;
  margin-left: 20px;
}

.fleft {
  float: left;
}

.fright {
  float: right;
}

.fleft{
  float: left;
}

.hidden{
  display: none !important;
}


#main-header {
  margin-top: 28%;
  margin-left: 20%;
  font-size: 3em;
  position:relative;
}

#img1{
  position:absolute;
  margin-top:3%;
  margin-right: 9%;
}
