
.fleft {
  float: left;
}

.fright {
  float: right;
}

.fleft{
  float: left;
}

.hidden{
  display: none !important;
}

h1 {
  font-size: 3em;
  max-width: 75vw;
  color: #e0e0eb;
  margin-top: 28%;
  margin-left: 20%;
  position:relative;
}


#img1{
  position:absolute;
  margin-top:3%;
  margin-right: 9%;
}
