@charset "utf-8";
*{padding:0;margin:0;}
fieldset,img,html,body,iframe,input{border:0;}
table{border-collapse:collapse;border-spacing:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
em,strong{font-weight:bold;font-style:normal;}
body,textarea,select,input{font-family:"Hiragino Sans GB","Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";font-size:12px;line-height:23px;color:#222;}
body{word-wrap:break-word;}
a{color:#666;text-decoration:none;outline:0;star:expression(this.onFocus=this.blur());}
a:hover,.text h2 a,.select{color:#222;}

.sch,.nav1,.nav2,.nav3,.nav4,.nav5,.label a,.label2 .link,.page a{background:url(//imglf4.nosdn.127.net/img/WkQvdlZPMTN6ZEV2a1QzT0U1YzB6VTRHOFl1Z0krMlkyVmMxNDVnSHIrc2JNMjNEdWJKbzh3PT0..png?imageView) -999px -999px no-repeat;_background:url(//imglf4.nosdn.127.net/img/WkQvdlZPMTN6ZEV2a1QzT0U1YzB6V3dMaStDb2J6SDJWekJuUEJQWmNBUGM5RG5nalhTMUJBPT0..png?imageView) -999px -999px no-repeat;}
.cover i{background:url(//imglf6.nosdn.127.net/img/WkQvdlZPMTN6ZEV2a1QzT0U1YzB6ZndPWDFPdVVCVGhkcm41L0l4ckRJczkvVUVVMHZmK0ZRPT0..png?imageView) no-repeat;_background:url(//imglf4.nosdn.127.net/img/WkQvdlZPMTN6ZEV2a1QzT0U1YzB6ZjRKdTJDaUJ6NUMza3haZjVHTHNNUTV1MXEwSE9Mdyt3PT0..png?imageView) no-repeat;}
.g-doc:after,.nav:after,.tags:after,.info:after,.cont:after,.page:after{content:".";display:block;visibility:hidden;height:0;overflow:hidden;clear:both;}
.g-doc,.nav,.tags,.info,.cont,.page{zoom:1;}

.g-doc{margin:0 auto;padding:90px 0;}
.g-sd{float:left;width:200px;}
.g-mn{float:right;}

.w-logo,.w-logo img{display:block;width:200px;height:200px;}
.m-about,.menu{padding:24px 20px;}
.m-about h1 a{font-size:18px;}
.m-about p{margin:14px 0 0;line-height:19px;}
.menu{margin:1px 0 0;background:#fff;}
.link li{width:160px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.sch{width:158px;height:30px;border:1px solid #111;background-position:right 0;}
.sch:hover{background-position:right -607px;}
.sch input{width:112px;height:22px;margin:4px 8px;line-height:22px;}
.nav{margin:20px -10px 0 0;}
.nav a{float:left;width:32px;height:33px;margin:0 10px 8px 0;text-indent:-999px;overflow:hidden;}
.nav1{background-position:center -44px;}
.nav2{background-position:center -78px;}
.nav3{background-position:center -112px;}
.nav4{background-position:center -145px;}
.nav5{background-position:center -656px;}
.nav1:hover{background-position:center -377px;}
.nav2:hover{background-position:center -411px;}
.nav3:hover{background-position:center -445px;}
.nav4:hover{background-position:center -479px;}
.nav5:hover{background-position:center -690px;}
.m-ft{margin:20px 0 0;color:#666;line-height:19px;}
.m-ft a:hover{color:#666;}

.box{margin:0 0 1px;padding:40px;background:#fff;}
.m-post img,.m-post embed,.m-post object{max-width:100%;_width:100%;}
.m-post img,.video embed,.video object{display:block;margin:0 auto;}
.video embed,.video object{width:100%;}
.text h2{padding:0 0 10px;font-size:24px;line-height:normal;}
.text ul,.text ol,.text p,.text blockquote{margin:0 0 10px;}
.text ul,.text ol{padding:0 0 0 2.5em;}
.text ul li{list-style:outside disc;}
.text ol li{list-style:outside decimal;}
.text blockquote{zoom:1;padding:0 0 0 15px;border-left:1px solid #ccc;}
.text img{margin:0 auto 10px;}
.info{padding:24px 0 0;}
.info a{display:inline-block;}
.tags a{height:23px;margin:0 5px 5px 0;padding:0 8px;border:1px solid #111;color:#222;}
.tags a:hover{background:#222;color:#fff;}
.label{float:left;width:430px;padding:8px 0 0;}
.label a{margin:0 20px 0 0;}
.label .date,.label .comnum,.label .hotnum,.label2 .link{padding:0 0 0 15px;}
.label .date{background-position:0 -179px;}
.label .comnum{background-position:0 -205px;}
.label .hotnum{background-position:0 -230px;}
.label2{margin:8px 0 0;}
.label2 .link{float:right;background-position:0 -256px;}
.img{margin:0 0 15px;}
.desc{margin:10px 0 0;text-align:center;}
.cover{position:relative;float:left;width:240px;height:240px;margin:0 20px 20px 0;background:#222;}
.cover i{position:absolute;left:0;top:0;width:240px;height:240px;}
.page a{width:42px;height:42px;text-indent:-999px;overflow:hidden;}
.page .prev{float:left;background-position:0 -289px;}
.page .next{float:right;background-position:0 -333px;}
.page .prev:hover{background-position:0 -513px;}
.page .next:hover{background-position:0 -557px;}

/* CC图标 */
.cc_1,.cc_2,.cc_3,.cc_4,.cc_5,.cc_6{float:right;height:23px;background:url(//imglf3.nosdn.127.net/img/WkQvdlZPMTN6ZEV2a1QzT0U1YzB6U2JiTmRrbHA4cWgxenRZTjZ2dVV6VCswODhMM013cVd3PT0..png?imageView) -999px -999px no-repeat;_background:url(//imglf4.nosdn.127.net/img/WkQvdlZPMTN6ZEV2a1QzT0U1YzB6VDdJUWRsL3ZNVzdQYld1bHZtK290STdYeWJXYTRidEl3PT0..png?imageView) -999px -999px no-repeat;}
.cc_1{width:48px;background-position:0 5px;}
.cc_2{width:48px;background-position:-55px -19px;}
.cc_3{width:32px;background-position:0 -43px;}
.cc_4{width:32px;background-position:-70px -66px;}
.cc_5{width:32px;background-position:0 -90px;}
.cc_6{width:14px;background-position:-87px -113px;}

.nctitle{padding-bottom:10px;font-size:14px;}
.notes{margin:0;padding:0;line-height:20px;font-size:12px;zoom:1;}
.m-hot .notes{margin:0 0 -1px;}
.notes:after{clear:both;content:'.';display:block;height:0;visibility:hidden;overflow:hidden;}
.notes .note{list-style:none;margin:0;float:left;width:100%;padding:10px 0;border-bottom:1px solid #ccc;}
.notes .avatar{float:left;width:16px;height:16px;border:0;}
.notes .clear{clear:both;height:0;overflow:hidden;}
.notes .action{float:right;width:570px;}
.notes blockquote{padding: 0 0 0 15px;margin-left:30px;overflow:hidden;word-wrap:break-word;border-left:1px solid #ccc;}

.hot{margin-top:40px;}