<div>
  <%- partial('_partial/content-view', { post: page, isPage: false }) %>
  <%- partial('_partial/comment') %>
</div>

<!--there is the plugin from fancy box-->
<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.6/dist/jquery.fancybox.min.css" />
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.6/dist/jquery.fancybox.min.js"></script>

<!-- plugin ends here-->
