#calendar a {
  text-decoration: none;
}
.cal-head {
  position: relative;
  height: 20px;
  padding: 8px 6px 2px 6px;
}
.cal-prev,
.cal-next {
  position: absolute;
  top: 9px;
  width: 9px;
  height: 10px;
  padding: 3px 4px;
  border: 1px solid transparent;
  color: #333;
  outline: 0;
}
.cal-prev {
  left: 8px;
}
.cal-prev:before {
  border-right: 9px solid #333;
}
.cal-next {
  right: 8px;
}
.cal-next:before {
  border-left: 9px solid #333;
}
.cal-prev:before,
.cal-next:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}
.cal-title {
  width: 120px;
  margin: 0 auto;
  color: #333;
  font: bold 14px/18px Arial;
  text-align: center;
}
.cal-title a {
  border: 1px solid transparent;
  color: color-theme;
}
.cal,
.cal th,
.cal td {
  border: 1px solid color-calendar-border;
}
.cal {
  border-collapse: separate;
  border-spacing: 0;
  border-width: 1px 0 0 1px;
  table-layout: fixed;
  width: 100%;
  margin: 0;
}
.cal th {
  background: color-theme;
  color: #fff;
  border-width: 0 1px 1px 0;
  font-weight: 700;
}
.cal td {
  border-width: 0 1px 1px 0;
}
.cal tbody a {
  background-color: color-calendar-post-bg;
  color: #fff;
  display: block;
  font-weight: 700;
}
.cal tbody .cal-today {
  background-color: color-theme;
  color: #fff;
}
.cal .cal-gray {
  color: #ddd;
}
.cal th,
.cal td {
  font-weight: normal;
  line-height: 2.5625;
  padding: 0;
  text-align: center;
}
.cal .cal-foot {
  color: color-theme;
}
.cal-title a:hover,
.cal-prev:hover,
.cal-next:hover,
.cal .cal-foot:hover,
.cal .cal-foot:focus,
.cal tbody a:hover,
.cal tbody a:focus {
  background-color: color-calendar-hover-bg;
  color: #fff;
  cursor: pointer;
}
